@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container{


    grid-area:  'menu'
                'cadastro';
}




h1{
    color: #2F70E0;
}

body{


    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

img{
    
    width: 400px;
}

main{
    grid-area: 'menu';
    background-color: white;
    margin-left:  100px;
    width: 600px;
    border: 1px gray solid;
    border-radius: 10px;
}

.center{
    text-align: center;
}

.cen{
    margin: auto;
}

form{
    grid-area: 'cadastro';
    background-color: white;
    margin-top: 10px;
    margin-left:  100px;
    width: 600px;
    border: 1px gray solid;
    border-radius: 10px;
}